<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- For Android 10+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".BcasApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustResize"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="36"
        android:usesCleartextTraffic="false"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".app.feature.activity.fullscreen.FullScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".widget.webview.BottomToolbarBroadcastReceiver" />

        <activity
            android:name=".app.feature.activity.exception.ExceptionHandlerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".app.feature.activity.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".app.feature.activity.middle.MiddleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".app.feature.activity.landscape.LandscapeActivity"
            android:exported="false"
            />
        <activity
            android:name=".app.feature.activity.splash.SplashActivity"
            android:exported="true"
            android:configChanges="uiMode"
            android:theme="@style/FullScreenTheme"
            android:screenOrientation="portrait"
            >

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="@string/deep_link" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <service android:name=".ext.notification.FirebaseMessageReceiver"
            android:exported="true"
            android:protectionLevel="signature">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".ext.common.RabbitMQForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="androidx.lifecycle.ProcessLifecycleOwner"
            android:value="androidx.lifecycle.ProcessLifecycleOwner" />


    </application>

</manifest>